In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.605449 -1.574043 -1.402013  0.449411
2013-01-02 -0.389230  0.385208  1.201762  0.097374
2013-01-03  1.468375 -0.249456 -0.602658 -1.220635
2013-01-04 -1.351381 -0.483165 -1.275020 -0.856607
2013-01-05 -0.273028  0.768041 -0.493540  1.531384
2013-01-06 -0.589330  1.132829 -1.619902 -1.827022

In [7]:
df2 = pd.DataFrame({'A': 1.0,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df.to_numpy()

array([[ 0.60544911, -1.57404322, -1.40201262,  0.44941131],
       [-0.38923015,  0.38520847,  1.20176245,  0.09737372],
       [ 1.46837502, -0.24945618, -0.60265812, -1.22063504],
       [-1.3513811 , -0.48316549, -1.27502022, -0.85660715],
       [-0.2730283 ,  0.76804052, -0.49354042,  1.53138361],
       [-0.58933038,  1.13282924, -1.61990231, -1.82702169]])

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.088191 -0.003431 -0.698562 -0.304349
std    0.987483  0.979264  1.033294  1.229842
min   -1.351381 -1.574043 -1.619902 -1.827022
25%   -0.539305 -0.424738 -1.370265 -1.129628
50%   -0.331129  0.067876 -0.938839 -0.379617
75%    0.385830  0.672333 -0.520820  0.361402
max    1.468375  1.132829  1.201762  1.531384

In [15]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.088191  0.987483 -1.351381 -0.539305 -0.331129  0.385830  1.468375
B    6.0 -0.003431  0.979264 -1.574043 -0.424738  0.067876  0.672333  1.132829
C    6.0 -0.698562  1.033294 -1.619902 -1.370265 -0.938839 -0.520820  1.201762
D    6.0 -0.304349  1.229842 -1.827022 -1.129628 -0.379617  0.361402  1.531384

In [16]:
# Selection by dtype

df = pd.DataFrame({'string': list('abc'),
                   'int64': list(range(1, 4)),
                   'uint8': np.arange(3, 6).astype('u1'),
                   'float64': np.arange(4.0, 7.0),
                   'bool1': [True, False, True],
                   'bool2': [False, True, False],
                   'dates': pd.date_range('now', periods=3),
                   'category': pd.Series(list("ABC")).astype('category')})

In [18]:
df.select_dtypes(include=[bool])

   bool1  bool2
0   True  False
1  False   True
2   True  False