In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'one' : pd.Series(np.random.randn(3),index=['a','b','c']),
    'two' : pd.Series(np.random.randn(4),index=['a','b','c','d']),
    'three' : pd.Series(np.random.randn(3),index=['b','c','d'])})

# copy just to keep one copy clean
df2 = df.copy()

# following function sees if the cells in df are greater than the cells in df2
df.gt(df2)

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [12]:
df2.ne(df)

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [14]:
pd.Series([True]).bool()

True

In [15]:
pd.DataFrame([True]).bool()

True

In [16]:
print(pd.Series(['foo', 'bar', 'baz']) == 'foo')
print(pd.Series(['foo', 'bar', 'baz']) == pd.Index(['foo', 'bar', 'qux']))

0     True
1    False
2    False
dtype: bool
0     True
1     True
2    False
dtype: bool

In [19]:
df + df == df * 2

     one   two  three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

We weould expect the following expression to return True, however it evaluates to false because ```np.nan == np.nan``` evaluates to ```False```

In [21]:
(df + df == df * 2).all().all()

False

In [22]:
(df + df).equals(df * 2)

True

As shown above, dataframes and series have a ```.equals()``` method that allows for comparisons that treat all ```np.nan``` as equal

In [24]:
df.describe()

            one       two     three
count  3.000000  4.000000  3.000000
mean   0.662668 -0.220080  0.892380
std    0.629715  0.828233  0.915142
min    0.151422 -1.187081  0.208152
25%    0.310964 -0.758100  0.372626
50%    0.470505 -0.147100  0.537100
75%    0.918291  0.390919  1.234494
max    1.366076  0.600962  1.931888

In [25]:
s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a', np.nan, 'c', 'd', 'a'])
s.describe()

count     9
unique    4
top       a
freq      5
dtype: object